.courses{
    margin-top:20px;
    background-color: #fff;
}

.courses .row{
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right:0;
    border:1px solid #eaedf3;
    padding:15px;
}

.courses .title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #3e3f42;
}