.course-card{
    width:350px;
    height: 210px;
    display:inline-block;
    background-color: #fff;
    border:1px solid #eaedf3;
    border-radius: 5px;
    margin-right:20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
}

.course-card-left{
    min-height: 180px;
}

.course-card-left-bottom{
    position: absolute;
    bottom: 0;
    left: 10;
}

.pt-20{
    padding-top:20px;
}

.pt-10{
    padding-top:10px;
}

.course-title{
    font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #3e3f42;
}

.course-date{
    font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #9ea0a5;
  vertical-align: text-bottom;
}

.course-student{
    font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #1665d8;
}


.course-image{
    margin:5px;
}

.yellow{
    color: #FACF55;
}

.progress{
    width:130px;
    height:3px;
    margin-bottom:2px;
}

.bg-success{
    background-color: #37b047;
}