.navbar-link-container{
    padding: 15px 15px;
}

.navbar-link {
    opacity: 0.75;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color:rgba(255, 255, 255, 0.8);
    margin-left:30px;
    margin-right:30px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.navbar .container{
    width:100%;
}

.navbar{
    background-color: #1665d8;
    border-radius: 0;
    background-image: none;
    border:none;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    min-height: 65px;
}

.navbar-links{
    display: flex;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    border-right:1px solid rgba(255, 255, 255, 0.4);
}

.logo-link{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
}

@media(min-width:768px){
    .user-profile-link{
        position: absolute;
        top: 0px;
        right: 30px;
    }
}


.mobile-menu-link{
    display: none !important;
}

@media (max-width:768px){
    .mobile-menu-link{
        display: inline-block !important;
    }
}

.user-profile{
    display: block;
}

@media (max-width:768px){
    .user-profile{
        display: none;
    }    
}

.px2 {
    width: 35px;
    object-fit: contain;
  }


  .modal-title{
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #3e3f42;
    margin-left: 10px;
  }


  .modal-body{
      padding:0;
  }