.left-menu{
    width:100%;
    height: max-content;
    background-color: #fff;
}

.ml-30{
    margin-left:30px;
  }

  .mb-20{
    margin-bottom:20px;
  }

  .pl-30{
    padding-left:30px;
  }

.link{
    display: block;
    height: 50px;
    padding:15px;
    padding-left:30px;
    font-size: 16px;
    background-color: #fff;
    text-decoration: none;
    font-weight: 500;
    color: #3e3f42;
}

.link-active{
    background-color: #f6f9fd;
    color:#1665d8 !important;
    text-decoration: none !important;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    border-left:2px solid #1665d8; 
}

.link-icon {
    width: 20px;
    height: 20px;
    margin-right:20px;
    object-fit: contain;
  }

  .link-active .link-icon {
    color:#1665d8;

  }
  .link-active .link-icon  path{
    color:#1665d8;
    
  }

  .rb{
      border-right: 1px solid #eaedf3;
  }

  .user-card{
      padding:30px;
  }
  .px {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .user-info{
    display: flex;
    align-items: center;
    min-height: 60px;
  }

  .user-name{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #3e3f42;
  }

  .user-title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #9ea0a5;
  }


  .stats-number{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #3e3f42;
  }

  .stats-name {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #9ea0a5;
  }