body{
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.ml-10{
  margin-left:10px;
}

.mt-10{
  margin-top:10px;
}

.mt-14{
  margin-top:14px;
}

.mr-10{
  margin-right:10px;
}

.mr-0{
  margin-right:0;
}

.base {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-panel {
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
}


.login-left {
    background-color: rgba(255, 255, 255, 0);
    padding-left:0;
    padding-right:0;
}

.left-container{
  padding-left:25px;
  padding-right:25px;
}

.login-right {
    padding-left: 0;
    padding-right: 0;
    object-fit: contain;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}

@media (max-width : 992px){

  .center-sm{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.sign-in {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #3e3f42;
  }


  .icon {
    width: 44px;
    height: 44px;
    object-fit: contain;
    margin-top: -22px;
  }

  .input-container{
        margin-bottom:15px;
  }

  label {
    width: 96px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #9ea0a5;
    display: contents;
  }

  .input-base
  {
      margin-top:5px;
      padding-left:0;
      padding-right: 0;
        border-radius: 4px;
        box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21);
        background-color: #fff;
        z-index: 1;
  }


  .view-password {
    width: 20px;
    height: 20px;
    margin-right:13px;
    object-fit: contain;
    z-index:9;
    cursor: pointer;
    font-size:25px;
    opacity: 0.6;
    position: absolute;
    top: 3px;
    right: 2px;
  }

  .btn-login{
    width:100%;
    height: 38px;
    margin-top:12px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
    background-image: linear-gradient(to top, #34aa44, #38b249);
    color:#fff;

  }

  .or-connect-with {
    text-align: center;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #9ea0a5;
  }


  .btn-twitter {
    width: 62px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #9ea0a5;
  }
  .btn-twitter:active, .btn-twitter:hover {
    color: #55acee;
  }

  .btn-facebook {
    width: 62px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #9ea0a5;
  }
  .btn-facebook:active, .btn-facebook:hover {
    color: #3b5998;
  }

  .btn-google {
    width: 62px;
    height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #9ea0a5;
  }
  .btn-google:active, .btn-google:hover {
    color: #dd4b39;
  }

  .social-buttons{
      width:100%;
      border-top:1px solid #eaedf3;
      text-align:center;
      margin-top:15px;
  }

  .social-buttons a{
    display: inline-block;
    width:33.33333%;
    height: 66px;
    border:1px solid #eaedf3;
    border-radius: 0;
  }

  .social-buttons a i{
    font-size: 20px;
    margin-top: 5px;
  }


  .forget-your-password {
    width: 144px;
    height: 22px;
    margin-top:30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #9ea0a5;
  }

