.owl-nav{
    display: none;
}

.course-list{
    max-height: 220px;
    overflow: hidden;
}

.owl-item>.course-card,.owl-item.cloned>.course-card{
    opacity: 0.6;
    background-color: #dedede;
}


.owl-item.active>.course-card{
    opacity: 1;
    background-color:#fff;
} 