.title{
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #3e3f42;
    margin-left: 10px;
}

.nav-tabs>li{
    width:25%;
}

.nav-tabs>li.active{
    border-bottom: 4px solid #1665d8;
}

.nav-tabs>li.active>a{
    border-right: none;
}

.nav-tabs>li>a{
    padding-top:15px;
    padding-bottom:15px;
    border:none;
    color:#6b6c6f;
    margin-right: 0;
}

.nav-tabs>li>a:active{
    padding-top:15px;
    padding-bottom:15px;
    border-top:1px solid #dddddd;
    margin-top:2px;
    color: #3e3f42;
    font-weight: bold;
}

.nav-tabs>li{
    border-left: 1px solid #dddddd;
    border-top:1px solid #dddddd;
    margin-bottom: -1px;
    margin-top: -3px;
}

.nav-tabs>li>a:hover{
    background-color: none;
}


.nav{
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    border-radius: 0px;
    border-left: 1px solid #dddddd;
    font-weight: bold;
    border: 1px solid transparent;
    margin-bottom:-1px;
}

.tab-content{
    min-height:300px;
    padding:30px;
}

.tab-content .row {
    display: flex;
    align-items: center;
}

.bold{
    font-weight: bold;
}