.weekly-card{
    width:100%;
    padding:40px;
}

.weekly-title{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #9ea0a5;
}

.weekly-combo{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #9ea0a5;
}

.graph-title-content{
    align-content: center;
}

.graph-title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #3e3f42;
}

.graph-subtitle{
    font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #9ea0a5;
}

.graph-number{
    font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #3e3f42;
  display: flex;
  align-content: center;
  margin-top: 3px;
}

.graph{
    margin-top:10px;
    max-height: 150px;
    display: flex;
    align-items: baseline;
}

.p-0{
    padding: 0;
}

.graph-column{
    width:14.28%
}
